@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 170px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: rgb(211, 230, 227);
  font-size: 18px;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 900;
}

.item {
  width: 170px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  font-size: 18px;
  letter-spacing: 5px;
  text-align: center;
  line-height: 200%;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 170px;
  height: 66px;
}

.start, .progress, .done {
  background: rgb(24, 170, 24);
}

.hide {
  display: none;
}

.hold {
  border: 2px solid rgb(171, 195, 171);;
}

.hovered {
  border: 2px solid rgb(124, 204, 124);
  border-radius: 20px;
  width: 170px;
  height: 66px;
}

