@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: rgb(235, 200, 231);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
  flex: 1;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  transition: 500ms ease-in-out;
  background-size: cover;
}

.slide h3 {
  position: absolute;
  left: 10px;
  bottom: 20px;
  letter-spacing: 5px;
  opacity: 0;
  font-size: 26px;
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
